.main-video {
    height: 850px;
    width: 100%;
    background-image: url("https://s1.pearlcdn.com/KR/Upload/BANNER/MAIN/bannerImage_20240527180631koKR.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
}
.main-video-overlay{
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.5);
    position: absolute;
}
.main-video-overlay > h1 {
    position: absolute;
    bottom: 13rem;
    font-size: 4.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: nowrap;
}
.main-video-overlay > button {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    font-size: 1.5rem;
    transform: translate(-50%, 0);
    padding: 1em 4em;
    color: black;
    background-color: var(--color-light-gold);
}
@media (max-width: 1200px) {
    .main-video {
        height: 450px;
        width: 100%;
    }
    .main-video-overlay {
        background-color: hsla(0, 0%, 0%, 0);
    }
    .main-video-overlay > h1 {
        font-size: 2rem;
        bottom: 8rem;
    }
    .main-video-overlay > button {
        font-size: 1rem;
        bottom: 3rem;
    }
}

/* section2 */
.main-section2 {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 1.6em;
    gap: .7em;
}
.main-section2 .img-wrap {
    overflow: hidden;
    margin-bottom: .8em;
    border-radius: .5em;
    background-color: red;
}
.main-section2 .img-wrap img {
    width: 100%;
    transition: all .3s;
    vertical-align: bottom; 
}
.main-section2 > div > h4 {
    width: 330px;
    line-height: 1.5em;
    text-align: center;
}
.main-section2 > div:hover img {
    transform: scale(1.1);
}
@media (max-width: 1200px) {
    .main-section2 {
        justify-content: flex-start;
    }
}

.main-section3 {
    width: 100%;
    position: relative;
}
.main-section3 > .pc-banner {
    width: 200%;
    position: absolute;
    left: -50%; 
    object-fit: cover;
    vertical-align: bottom;
}
.main-section3 > .mobile-banner {
    display: none;
}
@media (min-width: 1200px) {
    .main-section3 > .pc-banner {
        position: relative;
        left: 0%; 
        width: 100%;
        height: 180px;
    }
}
@media (max-width: 768px) {
    .main-section3 > .mobile-banner {
        display: block;
        width: 100%;
    }
    .main-section3 > .pc-banner {
        display: none;

    }
}
.main-section4{
    background-image: url('https://s1.pearlcdn.com/KR/contents/img/portal/main/main_feature_bg.jpg');
    width: 100%;
}
.main-section6{
    background-image: url('https://s1.pearlcdn.com/KR/contents/img/portal/main/main_character_class_bg.jpg');
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



