section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-wrap {
    width: clamp(0px, 100%, 1300px);
    height: 100%;
    background-color: hsl(0 0% 0% / .2);
    overflow: hidden;
}

#video-section {
    width: 100%;
    min-height: 460px;
    position: relative;
    overflow: hidden;
    background: no-repeat center / cover url("https://s1.pearlcdn.com/KR/Upload/BANNER/MAIN/bannerImage_20240625144430koKR.jpg");
    @media (min-width: 1024px) {
        min-height: 830px;
    }
    > video {
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    > div {
        text-align: center;
        color: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 9%;
        > h1 {
            font-size: 4.5em;
            white-space: nowrap;
            @media (max-width: 1024px) {
                font-size: 2.3em;
                font-weight: 500;
            }
        }
        > h4 {
            font-size: 1.6em;
            margin: 0.5em 0 1.5em;
            font-weight: 300;
            @media (max-width: 1024px) {
                font-size: .9em;
                margin: .7em 0 1.5em;
            }
        }
        > button {
            background-color: var(--color-light-gold);
            color: rgb(56, 29, 29);
            font-size: 1.2em;
            padding: 1.2em 5em;
            @media (max-width: 1024px) {
                font-size: .9em;
                padding: .9em 5.4em;
            }
        }
    }
}

#news-section{
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    margin: 30px;
    text-align: center;
    > article{
        &:hover {
            & div {
                background: no-repeat center / auto 110%;
            }
        }
        & div {
            width: 100%;
            height: 200px;
            background: no-repeat center / auto 100%;
            transition: all 0.3s;
            border-radius: 10px;
        }
        & h4 {
            padding: .5em 0;
        }
    }
}

#new-class-section{
    background: no-repeat center / cover url("    https://s1.pearlcdn.com/KR/contents_event/floating/202406/main_new_char/main_bg_2560.jpg");
    width: 100%;
    height: 700px;


}
