.top-menu{
    height: 35px;
    width: 100dvw;
    background-color: gray;
}
header {
    background-color: black;
    height: 65px;
    transition: all .3s;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 6rem;
    padding: 0 3rem;
}
.rightBar{
    display: none;    
}
nav{
    width: 100%;
    height: 100%;

}
.nav-list-head > a {
    height: 100%;
    position: relative;
}
.nav-list-head > a::before,
.nav-list-head > a::after{
    content: "";
    width: 0%;
    height: 1px;
    position: absolute;
    background-color: var(--color-light-gold);
    transition: all .3s;
    bottom: 1em;
}
.nav-list-head > a::before{
    right: 50%;
}
.nav-list-head > a::after{
    left: 50%;
}
.nav-list-sub{
    display: block;
    overflow: hidden;
    max-height: 0px;
    position: absolute;
    transition: all .3s;
    background-color: black;
    font-size: .9rem;
    top: 100%;
    left: -50%;
}
.nav-list-sub > li {
    display: block;
}
.nav-buttons{
    gap: .5em;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: rgb(196, 196, 196);
}
.game-start {
    background-image: url('https://s1.pearlcdn.com/KR/contents/img/common/header_btn_acoin_mob.png');
    width: 200px;
    height: 100%;
    font-size: large;
    padding: 1.2em 0;
}
@media (min-width: 1600px) {
    header {
        height: 75px;
    }
}
@media (min-width: 1201px) {
    .nav-list {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        position: relative;
    }
    .nav-list-head{
        height: 100%;
    }
    .nav-list > li{
        height: 100%;
        line-height: 65px;
        position: relative;
    }
    .nav-list-sub > li{
        height: 100%;
        line-height: 3em;
    }
    .nav-list-sub > li > a{
        padding: 1em 2em;
        white-space: nowrap;
    }
    .nav-list-head:hover > a::before, 
    .nav-list-head:hover > a::after {
        width: 50%;
    }
    .nav-list-head:hover + .nav-list-sub,
    .nav-list-sub:hover {
        max-height: 600px;
    }
}
@media (max-width: 1200px) {
    .modal-overlay{
        width: 100dvw;
        height: 100dvh;
        background-color: hsla(0, 0%, 0%, 0.5);
        position: fixed;
        z-index: 10;
    }
    .rightBar{
        position: fixed;
        width: 380px;
        z-index: 20;
        background-color: white;
        right: 0;
        height: 100dvh;
        display: block;    
    }
    .close-rightBar{
        position: fixed;
        top: 5px;
        right: 5px;
        font-size: 3rem;
    }
    .rightBar-top-img-box{
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rightBar-top-img-box > img{
        width: 140px;
    }
    .rightBar-login-box{
        width: 100%;
        height: 150px;
        background-color: red;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5em;
    }
    .rightBar-login-btn{
        width: 90%;
        padding: .7em 0;
        background-color: blue;
        border-radius: 5px;
        font-size: larger;
    }












    .top-menu{
        display: none;
    }
    header{
        height: 60px;
    }
    .logo {
        width: 6rem;
    }
    .header-icon {
        height: 100%;
        padding: 0 .3em;
        font-size: 1.8em;
    }
    nav{
        width: 370px;
        height: 100dvh;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 20;
        background-image: url('https://s1.pearlcdn.com/KR/contents/img/common/header_mob_nav.png');
        background-position: center;
        transform: translateX(-370px);
        opacity: 0;
    }
    .nav-show{
        transform: translateX(0px);
        opacity: 1;
        transition: all .5s;
    }
    .nav-close{
        width: 100%;
        font-size: 3rem;
        position: absolute;
        top: .5rem;
        left: .5rem;
    }
    nav .logo {
        width: 150px;
        padding: 3.3em 0;
    }
    .nav-list {
        display: block;
    }
    .nav-list-head {
        align-items: center;
        justify-content: space-between;
        padding: 1em 2em;
        border-top: 1px solid hsla(0, 0%, 0%, 0.3);
    }
    .nav-list-head-arrow {
        font-size: 1.5rem;
        transition: all .5s;
    }
    .nav-list-sub {
        position: relative;
    }
    .mobile-nav-open .nav-list-head-arrow{
        rotate: 180deg;
    }
    .mobile-nav-open + .nav-list-sub{
        padding: .3em 0 .6em;
        max-height: 600px;
    }
    .nav-list-sub > li{
        color: gray;
        padding: .9em 2em;
    }
    .nav-buttons{
        width: 80%;
        margin-top: 3rem;
        display: block;
    }
    .login{
        width: 100%;
        padding: 1.2em 0;
        font-size: small;
        background-color: var(--color-brown);
        margin-bottom: 1rem;
    }
    .game-start {
        width: 100%;
        height: auto;
        font-size: small;
        padding: 1.2em 0;
    }
}