@font-face{
  font-family:'DNFForgedBlade';
  font-style:normal;
  font-weight:300;
  src:url('//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf')format('opentype')}
  
@font-face{
  font-family:'DNFForgedBlade';
  font-style:normal;
  font-weight:500;
  src:url('//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Medium.otf')format('opentype')}
  
@font-face{
  font-family:'DNFForgedBlade';
  font-style:normal;
  font-weight:700;
  src:url('//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Bold.otf')format('opentype')}

.main-font-light {
  font-family: 'DNFForgedBlade', sans-serif;
  font-weight: 300;
}
.main-font-medium {
  font-family: 'DNFForgedBlade', sans-serif;
  font-weight: 500;
}
.main-font-bold {
  font-family: 'DNFForgedBlade', sans-serif;
  font-weight: 700;
}